<body style="background-color: rgb(255, 255, 0)">

        <div class="label">
                <center><h1> ToDo List </h1></center>

                <center><form action="/task" method="post">
                    <p><input type="text" name="content"></p>
                    <input type="submit" value="Add task">
                </form></center>

                <center><ol>
                    {%for task in tasks %}
                        <li>
                            {% if task.done %} <del> {% endif %}
                            {{ task.content }} {% if task.done %} </del> {% endif %}
                            <a href="/done/{{ task.id }}">Done</a>
                            <a href="/delete/{{ task.id }}">Delete</a>
                        </li>
                    {% endfor %}
                </ol></center>
        </div>
</body>